{% extends "base.html" %}
{% block content %}
<div class="grid-container">
    <div class="grid-x grid-padding-y">
        <div class="cell large-12">
            <div class="callout">
                {% if correct %}
                <h3>Success! Correct answer</h3>
                <p>Your answer is correct!</p>
                {% else %}
                <h3>Incorrect answer</h3>
                <p>Your answer was incorrect.</p>
                {% endif %}
                <div>
                    {% if next_question %}
                    <button onclick="location.href='{% url "quiz_question" quiz_id=quiz_id question_id=next_question %}'" type="button" class="button button-empty">Next question</button>
                    {% else %}
                    <button onclick="location.href='{% url "questions_list" %}'" type="button" class="button button-empty">New question</button>
                        {% if question_id %}
                        <button onclick="location.href='{% url "question_details" question_id %}'" type="button" id="btn-try-again" class="button button-empty">Try again</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
