{% if question %}
<header>
    <h4>{{ question.content }}</h4>
</header>
<p id="jsToggleInfo">Django HTMLForm enabled</p>
<button id="switchJS">JS</button>
<button id="switchHTML" disabled>HTMLForm</button>
<form method="post" action="{% url 'correct_answer' question.id %}" id="django">
    {% csrf_token %}
    {% for answer in question.answers.all %}
    <button type="submit" name="answer" value="{{ answer.id }}">{{ answer.content }}</button>
    {% endfor %}
</form>
<div id="js" style="display:none;">
    {% for answer in question.answers.all %}
    <button class="answer" apk="{{ answer.id }}" qpk="{{ question.id }}">{{answer.content}}</button>
    {% endfor %}
</div>
<dialog id='modal'>
    <p></p>
    <button onclick="location.href='{% url "questions_list" %}'" type="button">New question</button>
    <button onclick="location.href='{% url "question_details" question.id %}'" type="button" id="btn-try-again">Try again</button>
</dialog>
{% else %}
<p>No question available</p>
{% endif %}
{% load static %}
<script src="{% static 'isCorrect.js' %}"></script>