{% extends "base.html" %}
{% block content %}
<div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="large-12 cell">
        {% if questions %}
            <h3>List of all questions:</h3>
            <table class="unstriped">
                {% for question in questions %}
                <tr>
                    <td><a href="{% url 'question_details' question.id %}">{{ question.content }}</a></td>
                </tr>
                {% endfor%}
            </table>
        {% else %}
            <p>No questions available</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
