<h3>{{ username }}</h3>
<br>
<h5>Total number of answered questions {{ user_stats.total_number }}</h5>
<h5>{{ user_stats.correct_percent }}% correct answers ({{ user_stats.correct }})</h5>
<h5>{{ user_stats.incorrect_percent }}% incorrect answers ({{ user_stats.incorrect }})</h5>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Filter</button>
</form>
{% if form.errors %}
    {% for error in form.errors %}
        <p>{{ error }}</p>
    {% endfor %}
{% endif %}
<table>
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Was correct</th>
        <th>Date</th>
    </tr>
    {% for user_answer in user_answers %}
    <tr>
        <td>{{ user_answer.question_answer.question.content }}</td>
        <td>{{ user_answer.question_answer.answer.content }}</td>
        <td>{{ user_answer.question_answer.correct }}</td>
        <td>{{ user_answer.answered_at|date:'Y-m-d H:i'}}</td>
    </tr>
    {% endfor %}
</table>