{% extends "base.html" %}
{% block content %}
<form action="{% url 'start_quiz' %}" method="post">
    {% csrf_token %}
    <div class="grid-container">
        <fieldset class="fieldset">
            <legend>Start new quiz</legend>
            <div class="grid-x grid-padding-x grid-padding-y">
                <div class="cell medium-4 small-12">
                    {{ form.num_of_questions.label_tag }}
                    {{ form.num_of_questions }}
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-4 small-12">
                            <button type="submit" class="button menu-button">Start Quiz</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</form>
{% endblock %}
