{% extends "base.html" %}
{% block content %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="grid-container">
        <fieldset class="fieldset">
            <legend>Login</legend>
            <div class="grid-x grid-padding-x grid-padding-y">
                <div class="medium-12 cell">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
            </div>
            <div class="grid-x grid-padding-x grid-padding-y">
                <div class="medium-12 cell">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="medium-12 cell">
                    <input type="submit" value="Sign in" class="button menu-button">
                </div>
            </div>
        </fieldset>
    </div>
</form>
{% endblock %}
